.card {
  width: 100%;
  max-width: 614px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .35rem;
}

.card + .card {
  margin-top: 2rem;
}

.card-header {
  padding: 1rem;
  font-weight: 600;
}

.card-img img {
  width: 100%;
}

.card-body {
  padding: 1rem;
  width: 100%;
  background: none;
  position: relative;
  color: #1f3254;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-likes {
  font-weight: 600;
}

.card-comments {
  margin-top: 1rem;
}

.card-comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-comment + .card-comment {
  margin-top: .25rem;
}

.card-comment__username {
  font-weight: 600;
}

.comment-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  background-color: #eee;
  margin-top: 1rem;
  border-radius: .25rem;
}

.comment-input input {
  flex-grow: 1;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.comment-input input:focus {
  outline: none;
}

.comment-input button {
  flex-shrink: 0;
  padding: 0;
  color: #1f3254;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  text-align: right;
}

.comment-input button:focus {
  outline: none;
}
