.auth {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.auth-form h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.auth-form input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(225,228,232,0.2);
}

.auth-form input:not(:last-child) {
  margin-bottom: 1rem;
}

.auth-form button {
  position: relative;
  display: inline-block;
  padding: .35rem 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 6px;
  color: #fff;
  background-color: #0366d6;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.03);
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

p {
  text-align: center;
  font-size: 14px;
  color: #1f3254;
}

.link {
  color: #0366d6;
  cursor: pointer;
}

.no-margin-top {
  margin-top: 0;
}

p.error {
  color: #e8192d;
}
