*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: .875rem;
}

.title {
  margin: 0 0 2rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -.02em;
  text-align: left;
}

button, input {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
}

button {
  border: 0;
}
